# deps
node_modules/
.pnpm-store/

# builds
.next/
dist/
out/
.turbo/

# env & secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# test
coverage/
playwright-report/
test-results/

# data volumes (dev)
.data/
